extends layout

block content
	h1#main= title
	p This tool helps you customizing your Podlove Player v1.
	
	.demo
		
		.demoBg
		include playerV1.jade
							
	h2 Configs
	
	form#playerConfigs

		.form-group
			label(for="bodyBg") Your Sites BG
			input.color#bodyBg(value="#f2f4f7", data-val="color")

		.form-group
			label(for="baseColor") Base-Color
			input.color#baseColor(value="#79858e", data-val="color")
			
		.form-group
			label(for="textColor") Texts
			input.color#textColor(value="#fff", data-val="color")
			
		.form-group
			label(for="iconColor") Icons
			input.color#iconColor(value="#fff", data-val="color")
			
		.form-group
			label(for="iconColorHover") Hovered Icons
			input.color#iconColorHover(value="#26292b", data-val="color")
			
		.form-group
			label(for="progressbarColor") Progress/Volume
			input.color#progressbarColor(value="#f2f4f7", data-val="color")
			
		.form-group
			label(for="borderRadius") Border-Radius
			input.pixel#borderRadius(value="5px", data-val="size")
			
		.form-group
			label(for="compact") Compact Player
			select#compact(data-val="bool")
				option(value="true", selected) Yup
				option(value="false") Nope

		.form-group
			label(for="showContribs") Contributors
			select#showContribs(data-val="bool")
				option(value="true", selected) Visible
				option(value="false") Hidden
				
		.form-group
			label(for="downloadButtons") Download-Buttons
			select#downloadButtons(data-val="bool")
				option(value="true", selected) Styled
				option(value="false") Unstyled
	
	h2 Output
	
	p You can either save the contents of below textarea to a .css-file and include it within your template, or you can use the second textarea if you would just like to place it somewhere in your html (for example your header.tpl.php).
	
	textarea#generated
		include ../public/css/pod.css
	
	textarea#generatedWithWrapper
		style(rel='stylesheet')
			include ../public/css/pod.css
	
	h2 Some additional notes...
	
	p Currently the number of configs is kind of limited. More options may come in future. For feedback, join the german discussion on #[a(href="https://sendegate.de/t/webtool-zum-anpassen-des-podlove-players/1044") Sendegate] or write an issue in my #[a(href="https://github.com/Suven/Podlovestyler") github-repo].
	p If you are looking for a german podcast about webdevelopment, have a look at #[a(href="http://webgeplapper.de") Webgeplapper.de].
