article#post-27.post-27.podcast.type-podcast.status-publish.hentry.post
	.entry-content
		audio#podlovewebplayer_4a5ce8060bb87f49bd5921f771c8033246164b5a(controls="controls", preload="none" style="width: auto; height: 30px")
			source(src="http://webgeplapper.de/podlove/file/54/s/webplayer/c/home/02-barrierefreiheit.m4a", type="audio/mp4")
			source(src="http://webgeplapper.de/podlove/file/51/s/webplayer/c/home/02-barrierefreiheit.mp3", type="audio/mpeg")
			source(src="http://webgeplapper.de/podlove/file/53/s/webplayer/c/home/02-barrierefreiheit.opus", type="audio/ogg;codecs=opus") 
			
			object(type="application/x-shockwave-flash", data="flashmediaelement.swf")
				param(name="movie", value="flashmediaelement.swf")
				param(name="flashvars", value="controls=true&amp;file=http://webgeplapper.de/pod/02-barrierefreiheit.mp3")
				
		script.
			jQuery('#podlovewebplayer_4a5ce8060bb87f49bd5921f771c8033246164b5a').podlovewebplayer({"pluginPath":"http:\/\/webgeplapper.de\/wp-content\/plugins\/podlove-podcasting-plugin-for-wordpress\/lib\/modules\/podlove_web_player\/player\/podlove-web-player\/static\/","alwaysShowHours":true,"alwaysShowControls":true,"timecontrolsVisible":false,"summaryVisible":false,"hidetimebutton":false,"hidedownloadbutton":false,"hidesharebutton":false,"sharewholeepisode":false,"loop":false,"chapterlinks":"all","permalink":"http:\/\/webgeplapper.de\/02-barrierefreiheit\/","title":"WG 002: Barrierefreiheit","subtitle":"","summary":"Barrierefreiheit im Web ist ein wichtiges Thema mit dem jeder Webdesigner und Entwickler vertraut sein sollte, die wenigsten das aber wirklich sind.<br \/>\r\n<br \/>\r\nIn dieser Episode erkl\u00e4rt uns Jan Eric Hellbusch warum das Thema so wichtig ist, wie wir es angehen k\u00f6nnen und wie das Web f\u00fcr Menschen die einen Screenreader nutzen funktioniert.","publicationDate":"2015-01-22T00:00:22+00:00","poster":"http:\/\/webgeplapper.de\/pod\/02-barrierefreiheit.png","showTitle":"Webgeplapper","showSubtitle":"F\u00fcr Entwickler die \u00fcber den eigenen Tellerand hinausschauen wollen","showSummary":"In jeder Episode von Webgeplapper wird eine Technologie, ein Framework, oder eine Library f\u00fcr Webentwickler mit Erfahrung vorgestellt.","showPoster":"http:\/\/webgeplapper.de\/res\/cover.png","show":{"title":"Webgeplapper","subtitle":"F\u00fcr Entwickler die \u00fcber den eigenen Tellerand hinausschauen wollen","summary":"In jeder Episode von Webgeplapper wird eine Technologie, ein Framework, oder eine Library f\u00fcr Webentwickler mit Erfahrung vorgestellt.","poster":"http:\/\/webgeplapper.de\/res\/cover.png","url":"http:\/\/webgeplapper.de"},"license":{"name":"Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License","url":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/4.0"},"downloads":[{"assetTitle":"MPEG-4 AAC Audio (m4a)","downloadUrl":"http:\/\/webgeplapper.de\/podlove\/file\/54\/s\/webplayer\/c\/home\/02-barrierefreiheit.m4a","url":"http:\/\/webgeplapper.de\/pod\/02-barrierefreiheit.m4a"},{"assetTitle":"MP3 Audio (mp3)","downloadUrl":"http:\/\/webgeplapper.de\/podlove\/file\/51\/s\/webplayer\/c\/home\/02-barrierefreiheit.mp3","url":"http:\/\/webgeplapper.de\/pod\/02-barrierefreiheit.mp3"},{"assetTitle":"Opus Audio (opus)","downloadUrl":"http:\/\/webgeplapper.de\/podlove\/file\/53\/s\/webplayer\/c\/home\/02-barrierefreiheit.opus","url":"http:\/\/webgeplapper.de\/pod\/02-barrierefreiheit.opus"}],"duration":"00:00:00","chaptersVisible":false,"features":["current","progress","duration","tracks","fullscreen","volume"],"chapters":[{"start":"00:00:00.000","title":"Intro","href":"","image":""},{"start":"00:00:17.560","title":"Vorstellung","href":"","image":""},{"start":"00:02:17.432","title":"Was ist Barrierefreiheit?","href":"","image":""},{"start":"00:05:42.490","title":"Wer profitiert von Barrierefreiheit?","href":"","image":""},{"start":"00:08:31.928","title":"Bekommt Barrierefreiheit genug Aufmerksamkeit?","href":"","image":""},{"start":"00:11:42.821","title":"WCAG, WAI-ARIA und co","href":"","image":""},{"start":"00:15:48.118","title":"Gesetzliche Grundlage f\u00fcr Barrierefreiheit","href":"","image":""},{"start":"00:19:30.531","title":"Gibt es Universalrezepte beim Coding?","href":"","image":""},{"start":"00:24:03.046","title":"Responsive Webdesign als m\u00f6gliches Problem","href":"","image":""},{"start":"00:25:52.824","title":"Absolute vs relative Schriftgr\u00f6\u00dfen","href":"","image":""},{"start":"00:28:46.568","title":"Alternativtexte","href":"","image":""},{"start":"00:35:23.444","title":"Labels","href":"","image":""},{"start":"00:39:10.821","title":"ARIA-Hidden","href":"","image":""},{"start":"00:44:19.698","title":"Sprunghilfen \/ Unsichtbare Links","href":"","image":""},{"start":"00:53:22.709","title":"Die Bedeutung von semantischem Text","href":"","image":""},{"start":"00:55:14.828","title":"Barrierefreiheit und dynamische Inhalte","href":"","image":""},{"start":"01:00:43.047","title":"Tastaturbedienung von Webseiten","href":"","image":""},{"start":"01:06:48.667","title":"Verwendung von Kontrasten und Farben","href":"","image":""},{"start":"01:12:48.770","title":"Screenreader als Testtool?","href":"","image":""},{"start":"01:18:25.978","title":"Andere Tricks zum Accessability-Testen","href":"","image":""},{"start":"01:28:12.424","title":"Verabschiedung \/ Lesetipps","href":"","image":""}]});
			
		form.downloads(action="#")
			.episode_downloads
				input(type="hidden", name="ptm_source", value="download")
				input(type="hidden", name="ptm_context", value="select-button")
				select(name="download_media_file")
					option(value="4051", data-raw-url="") MPEG-4 AAC Audio [86 MB]
				button(class="primary") Download
				button(class="secondary") Show URL
		
		table.podlove-contributors-table
			tbody
				tr
					td.avatar_cell
						img.avatar.avatar-50.photo(alt="avatar", src="https://www.gravatar.com/avatar/a2c252ad6939c3c9baaf7f85198def8f?s=50&d=mm&r=g", class="", height="50", width="50")

					td.title_cell Sven

					td.social_cell
						a(target="_blank", title="Twitter", href="https://twitter.com/mensgis")
							img.podlove-contributor-button(width="32", height="32", src="http://webgeplapper.de/wp-content/plugins/podlove-podcasting-plugin-for-wordpress/lib/modules/social/images/icons/twitter-128.png", alt="Twitter")
						a(target="_blank", title="GitHub", href="https://github.com/Suven")
							img.podlove-contributor-button(width="32", height="32", src="http://webgeplapper.de/wp-content/plugins/podlove-podcasting-plugin-for-wordpress/lib/modules/social/images/icons/github-128.png", alt="GitHub")

					td.donation_cell
						a(target="_blank", title="Amazon Wishlist", href="http://www.amazon.de/registry/wishlist/1UJED7L3AKWXX")
							img.podlove-contributor-button(width="32", height="32", src="http://webgeplapper.de/wp-content/plugins/podlove-podcasting-plugin-for-wordpress/lib/modules/social/images/icons/amazonwishlist-128.png", alt="Amazon Wishlist")
						a(target="_blank", title="Auphonic Credits", href="https://auphonic.com/donate_credits?user=Webgeplapper")
							img.podlove-contributor-button(width="32", height="32", src="http://webgeplapper.de/wp-content/plugins/podlove-podcasting-plugin-for-wordpress/lib/modules/social/images/icons/auphonic-128.png", alt="Auphonic Credits")

					td.flattr_cell
						a(target="_blank", class="FlattrButton", style="display:none;", title="Flattr Sven@WG 002: Barrierefreiheit", rel="flattr;uid:kohtason;button:compact;popout:0", href="http://webgeplapper.de/02-barrierefreiheit/#8d8ba86344844eb2c977ab13bc5b8e3a")
							Flattr Sven@WG 002: Barrierefreiheit
				
				tr
					td.avatar_cell
						img.avatar.avatar-50.photo(alt="avatar", src="http://webgeplapper.de/pod/jan-eric-hellbusch.jpg", height="50", width="50")

					td.title_cell Jan Eric Hellbusch

					td.social_cell
						a(target="_blank", title="Twitter", href="https://twitter.com/2bweb")
							img.podlove-contributor-button(width="32", height="32", src="http://webgeplapper.de/wp-content/plugins/podlove-podcasting-plugin-for-wordpress/lib/modules/social/images/icons/twitter-128.png", alt="Twitter")
					
						a(target="_blank", title="Barrierefreies Webdesign", href="http://2bweb.de")
							img.podlove-contributor-button(width="32", height="32", src="http://webgeplapper.de/wp-content/plugins/podlove-podcasting-plugin-for-wordpress/lib/modules/social/images/icons/www-128.png", alt="Barrierefreies Webdesign")
							
					td.donation_cell
					td.flattr_cell