// Player
article.podcast .podlovewebplayer_wrapper {
	border-radius: $borderRadius $borderRadius 0 0;
}

// Contrib 
article.podcast .podlove-contributors-table {
	background: $baseColor;
	color: $textColor;;
	width: 100%;
	
	border-spacing: 0;
	border-collapse: collapse;
	border: none !important;
	margin: 0;
	padding: 0;
	
	th {
		color: $textColor;
		padding-left: .5em;
	}
	
	td {
		padding: 0 !important;
		height: 50px;
		border: none !important;
		vertical-align: middle !important;
		
		&.flattr_cell {
			width: 125px;
		}
		
		&.avatar_cell {
			position: relative;
			
			.avatar {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		
		&.social_cell a, &.donation_cell a, &.flattr_cell iframe {
			position: relative;
			top: 3px;
		}
		
		&.flattr_cell iframe {
			left: 7px;
		}
		
		&.title_cell {
			font-size: 14px;
			letter-spacing: 1px;
		}

	}
	
	tr {
		background: lighten($baseColor, 10%);
		padding: 0;
		margin: 0;
		
		.flattr_cell {
			background: lighten($baseColor, 14%);
		}
	}
	tr:nth-child(odd) {
		background: lighten($baseColor, 8%);
		
		.flattr_cell {
			background: lighten($baseColor, 12%);
		}
	}
	
	.avatar_cell {width: 60px;}
	.title_cell {line-height: 1em;}
	.social_cell a, .donation_cell a {margin-right: 4px;background: none;text-decoration: none;}
	a {border: 0;}
	a img {display: inline;}
	.flattr_cell iframe {margin-bottom: 0px;}
	td {vertical-align: middle;}

}