$baseColor: #79858e;
$textColor: #fff;
$iconColor: #fff;
$iconColorHover: #26292b;
$borderRadius: 5px;
$progressbarColor: #f2f4f7;
$showContribs: true;
$compactHeader: true;
$downloadButtons: false;

// Player
article.podcast .podlovewebplayer_wrapper,
div.episode-overview .podlovewebplayer_wrapper,
.podcast_player .podlovewebplayer_wrapper{
	background-color: $baseColor;
	border-radius: $borderRadius;

	.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-loaded {
		background: lighten($baseColor, 10%) !important;
	}

	&, a, .mejs-container .mejs-controls .mejs-time span, .mejs-button.mejs-volume-button button {
		color: $textColor;
	}
	
	.podlovewebplayer_meta, .podlovewebplayer_tableend, #mep_0, .podlovewebplayer_timecontrol, .mejs-mediaelement, .mejs-controls, .podlovewebplayer_chapterbox, .podlovewebplayer_sharebuttons, .mejs-container	 {
		background: none;
	}
	
	.podlovewebplayer_chapters, .podlovewebplayer_timecontrol, .podlovewebplayer_sharebuttons	{
		border-spacing: 0;
		border-collapse: separate;
		border: 0;
		margin: 0;
	}
	
	.podlovewebplayer_chapterbox {
		border: none;
		color: $textColor !important;

		.chaptertr {
			background: lighten($baseColor, 10%);
			color: $textColor !important;
			border-spacing: 0;
			border-collapse: separate;
			border: 0;
			margin: 0;
			
			td {
				border: 0;
				text-shadow: none;
			}
			&.active, &:hover, &.loaded {
				background: darken($baseColor, 5%);
				color: $textColor;
			}
		}
		.chaptertr:nth-child(odd) {
			background: lighten($baseColor, 8%);
			
			&.active, &:hover, &.loaded {
				background: darken($baseColor, 5%);
				color: $textColor;
			}
		}
	}

	.podlovewebplayer_tableend {
		box-shadow: none;
	}
	
	.mejs-horizontal-volume-total, .mejs-time-total {
		background: darken($baseColor, 20%);
	}
	
	.mejs-time-loaded {
		background: darken(#eaeced, 25%);
	}
	
	.mejs-horizontal-volume-current, .mejs-time-current {
		background: $progressbarColor;
	}
	
	.mejs-time-float {
		background: darken($baseColor, 20%);
		border-color: darken($baseColor, 20%);
		color: $textColor !important;
	}
	
	.mejs-time-float-corner {
		border-top-color: darken($baseColor, 20%);
	}
	
	.podlovewebplayer_meta {
		
		.bigplay {
			border: none !important;
			color: $iconColor;
			
			&:hover {
				border: none !important;
				color: $iconColorHover;
			}
		}
	}
	
	.podlovewebplayer_meta .bigplay:focus, .podlovewebplayer_meta .bigplay, .podlovewebplayer_meta .bigplay:active, .podlovewebplayer_controlbox .infobuttons, .podlovewebplayer_meta .togglers .infobuttons, .podlovewebplayer_controlbox .infobuttons {
		text-shadow: none;
		color: $iconColor;
		
		&:hover {
			color: $iconColorHover;	
			text-shadow: none;
		}
	}
	
	.podlovewebplayer_meta .togglers .infobuttons:hover, .podlovewebplayer_meta .togglers .infobuttons a:hover, .podlovewebplayer_wrapper .podlovewebplayer_controlbox .infobuttons:hover, .podlovewebplayer_wrapper .podlovewebplayer_controlbox .infobuttons a:hover {
		border-color: $baseColor !important;
		text-shadow: none;
	}
	
	// Bootstrap-Fixes
	table {
		border: none !important;
		
		td {
			border: none !important;
		}
	}
	
}

// Contrib 
@if $showContribs {
	@import "contrib";
}
	
// Compact Header
@if $compactHeader {
	@import "compact";
}

// Download Buttons
@if $downloadButtons {
	@import "download";
}